
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {

  /* Fonts */
  font-family: Roboto, -apple-system, BlinkMacSystemFont, system-ui, Segoe UI, 
  Avenir, Helvetica, Arial, sans-serif, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Sizes & Reset */
  margin: 0;
  padding: 0;

  /* Colors */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-color: #242424;
 
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Generals */
* { box-sizing: border-box; }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover { color: #535bf2; }

/* Responsive */
@media screen and (max-width: 1440px) { html, body { font-size: 16.5px; }}
@media screen and (max-width: 1024px) { html, body { font-size: 16px; }}
@media screen and (max-width: 768px) { html, body { font-size: 15.5px; }}
@media screen and (max-width: 425px) { html, body { font-size: 15px; }}
@media screen and (max-width: 375px) { html, body { font-size: 14.5px; }}
@media screen and (max-width: 320px) { html, body { font-size: 14px; }}


